html{
	height: 100%;
	
}
* {
	padding: 0;
	margin: 0;

}
body{
	font-family: "Roboto";

	background: rgba(204,204,204,1);

	background: -moz-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(242,242,242,1) 100%);

	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(204,204,204,1)), color-stop(100%, rgba(242,242,242,1)));

	background: -webkit-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(242,242,242,1) 100%);

	background: -o-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(242,242,242,1) 100%);

	background: -ms-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(242,242,242,1) 100%);

	background: linear-gradient(to bottom, rgba(204,204,204,1) 0%, rgba(242,242,242,1) 100%);

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#f2f2f2', GradientType=0 );
}



header{
	background: rgba(0,0,0,1);
	width: 100%;
	height: 60px;
	position: fixed;
	z-index: 100;
}

nav a{
	font-size: 25px;
	float: right;
	line-height: 1px;
	z-index: 120;
}
header a{
	z-index: 120;
	display: top;
	color: #fff;
	text-decoration: none;
	padding: 10px 20px;
	line-height: normal;
	font-size: 20px
	font-weight:bold;
	-webkit-transition:all 1000ms ease;
	-o-transition:all 1000ms ease;
	transition: all 1000ms ease;
}

nav a:hover{
	background: #930027;
	border-radius: 50px;
	margin-top: 10px;
}
.zoom{
	display: block!important;
	-webkit-transition:-webkit-transform 1s ease-out;
	-moz-transition:-moz-transform 1s ease-out;
	-o-transition:-o-transform 1s ease-out;
	-ms-transition:-moz-transform 1s ease-out;
	transition:transform 1s ease-out;
}
.zoom:hover{
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.contenido{
	padding-top: 80px;

}
.wrap{
	width: 90%;
	max-width: 500px;
	padding: 40px;
	margin: auto;
	background: #fff;
	box-shadow: 10px 10px 10px grey;
	-webkit-transition:all 1000ms ease;
	-o-transition:all 1000ms ease;
	transition: all 1000ms ease;
}

.wrap:hover{
	width: 90%;
	max-width: 500px;
	padding: 40px;
	margin: auto;
	background: #fff;
	box-shadow: 10px 10px 10px grey;
	border-radius: 40px;

}

.contenedor{
	width: 100%
	color: #f2f2f2;
	padding: 50px;
}

	.contenedor .formulario{
		width: 100%;
		margin: auto;
	}
		.contenedor .formulario .input-group{
			position: relative;
			margin-bottom: 32px;
		}
		.contenedor .formulario .input-group input[type="text"],
		.contenedor .formulario .input-group input[type="password"]{
			font-family: "Roboto";
			font-size: 16px;
			color: #930027;
			width: 95%;
			outline: none;
			padding: 15px;
			background: none;
			border: none;
			border-bottom: 2px solid #040404;
		}
			.contenedor .formulario .input-group input[type="text"]:focus,
			.contenedor .formulario .input-group input[type="text"]:active,
			.contenedor .formulario .input-group input[type="password"]:focus,
			.contenedor .formulario .input-group input[type="password"]:active{
				outline: none;
				border-bottom: 2px solid #cd0000;
			}
			.contenedor .formulario .input-group input[type="text"].error,
			.contenedor .formulario .input-group input[type="password"].error{
				border-bottom: 2px solid #d32f2f;
			}
				.contenedor .formulario .input-group input[type="text"].error + label,
				.contenedor .formulario .input-group input[type="password"].error + label{
					color: #d32f2f;
				}
		.contenedor .formulario .input-group label{
			color: #040404;
			
		}
			.contenedor .formulario .input-group label.label{
				-webkit-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				transition: all 0.3s ease;
				margin-left: 15px;
				font-size: 16px;
				line-height: 16px;
				position: absolute;;
				top: 16px;
				left: 0;
			}
				.contenedor .formulario .input-group label.label.active{
					top: -12px;
					font-size: 12px;
					line-height: 12px;
					color: #b6b6b6;
				}
			.contenedor .formulario .input-group.error label{
				color: #d32f2f;
			}
				.contenedor .formulario .input-group.error label:hover{
					background: rgba(211,47,47,0.2);
				}
				.contenedor .formulario .input-group.error label:before{
					border: 2px solid #d32f2f;
				}
			.contenedor .formulario input[type="button"]{
				background: #040404;
				border-radius: 1px;
				border: 2px solid #f2f2f2;
				color: #fff;
				cursor: pointer;
				display: inline-block;
				font-family: "Roboto";
				font-size: 16px;
				padding: 15px;
				-webkit-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				transition: all 0.3s ease;
				width: 100%;
			}
			.contenedor .formulario input[type="button"]:hover{
				background: #930027;
				border-radius: 50px;
			}


			.contenedor .salir input[type="button"]{
				background: #040404;
				border-radius: 1px;
				border: 2px solid #f2f2f2;
				color: #fff;
				cursor: pointer;
				display: inline-block;
				font-family: "Roboto";
				font-size: 16px;
				padding: 15px;
				-webkit-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				transition: all 0.3s ease;
				width: 100%;
			}
			.contenedor .salir input[type="button"]:hover{
				background: #930027;
			}
			.contenedor .formulario input[type="date"]{
				background: #040404;
				border-radius: 1px;
				border: 2px solid #f2f2f2;
				color: #fff;
				cursor: pointer;
				display: inline-block;
				font-family: "Roboto";
				font-size: 16px;
				padding: 15px;
				-webkit-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				transition: all 0.3s ease;
				width: 93.5%;
			}
			.contenedor .formulario input[type="date"]:hover{
				background: #930027;
				border-radius: 10px;
			}

.navegacion{
 position: fixed;
 left: 0;
 top: 200px;
 z-index: 120;
}
	.navegacion ul{
		list-style: none;
	}
	.navegacion ul li a{
		display: inline-block;
		color: #fff;
		background: #000;
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		transition: all 500ms ease;
	}
	.navegacion ul li a:hover{
		background: #000;
		padding: 20px 60px;
		border-radius: 5px
	}

.logoprincipal{
	position: fixed;
	right: 20%;
	top: 20%;
	
}

.navmini{
 position: fixed;
 left: 0;
 top: 200px;
 z-index: 120;
}
	.navmini ul{
		list-style: none;
	}
	.navmini ul li a{
		font-size: 15px;
		display: inline-block;
		color: #000;
		background: #000;
		padding: 10px 10px;
		text-decoration: none;
		-webkit-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		transition: all 500ms ease;
	}
	.navmini ul li a:hover{
		color: white;
		font-size: 20px;
		background: #000;
		padding: 20px 60px;
		border-radius: 5px
	}


select{
	
	background: #040404;
	border-radius: 1px;
	border: 2px solid #f2f2f2;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: "Roboto";
	font-size: 16px;
	padding: 15px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	width: 100%;
}
	select:hover{
		background: #930027;
		border-radius: 50px;
	}

#empleadoform{
	top: 14px;
}

.ticket{
	padding-top: 10px
	background: white;
	text-align: center;
	font-size: 20px;
}

#pad{
	top: 200px;
}


li.in{
	padding: 10px;
	font-size: 20px;
	background-color: #000;
	z-index: 200;
	color: #fff;
}
	li.in:hover{
		background: #040404;
		border-radius: 1px;
		border: 2px solid #f2f2f2;
		color: #fff;
		display: inline-block;
		font-family: "Roboto";
		font-size: 30px;
		padding: 10px;
		-webkit-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		transition: all 500ms ease;
		width: 100%;
		border-radius: 10px;
	}
li.out{
	padding: 10px;
	font-size: 20px;
	background-color: #930027;
	color: #fff;

}
	li.out:hover{
		border-radius: 1px;
		border: 2px solid #f2f2f2;
		display: inline-block;
		font-family: "Roboto";
		font-size: 30px;
		padding: 10px;
		-webkit-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		transition: all 500ms ease;
		width: 100%;
		border-radius: 10px;
	}

.subbanner{
	background: rgba(255,255,255,0.5);
}