html{
	font-family: Raleway;
}
* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
 
body {background:#FEFEFE;}
 
.menu {
	display:none;
}
 
header {
	width: 100%;
}
 
header nav {
	background:#3f51b5;
	z-index:1000;
	width:100%;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition: all 500ms ease;
}
 
header nav ul {
	list-style:none;
}
 
header nav ul li {
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition: all 500ms ease;
	display:inline-block;
	position: relative;
}
 
header nav ul li:hover {
	background:#7cb342;
}
 
header nav ul li a {
	color:#fff;
	display:block;
	text-decoration:none;
	padding: 20px;
}
 
header nav ul li a span {
	margin-right:10px;
}
 
header nav ul li:hover .hijo {
	display:block;
}
 
header nav ul li .hijo {
	display: none;
	background:#00386a;
	position: absolute;
	width: 150%;
	z-index:1000;
}
 
header nav ul li .hijo li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}
 
header nav ul li .hijo li a {
	display: block;
}
 
header nav ul li .hijo li a span {
	float: right;
	position: relative;
	top:3px;
	margin-right:0;
	margin-left:10px;
}
 
header nav ul li .sub {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}
 
@media screen and (max-width: 800px) {
	body {
		padding-top:80px;
	}
 
	.menu {
		display:block;
		width:100%;
		position: fixed;
		top:0;
		background:#639d17;
	}
 
	.menu .boton {
		display: block;
		padding: 20px;
		color: #fff;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
	}
 
	.menu span {
		float: right;
		font-size: 40px;
	}
 
	header nav {
		width: 80%;
		height: calc(100% - 80px);
		position: fixed;
		right:100%;
		margin: 0;
		overflow: scroll;
	}
 
	header nav ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
	}
	.index {
		display: none;
	}
 
	header nav ul li a {
		display: block;
	}
 
	header nav ul li:hover .hijo {
		display: none;
	}
 
	header nav ul li .hijo {
		width: 100%;
		position: relative;
	}
 
	header nav ul li .hijo li a {
		margin-left:20px;
	}
 
	header nav ul li .sub {
		float: right;
	}
	.logo{
		right: 0;
		width: 100px;
		height: 100px;
		position: absolute;
		margin-right: 10px;
		bottom: 0;
}
}
.logo{
	right: 0;
	width: 100px;
	height: 100px;
	position: absolute;
	margin-right: 10px;
}

.slideshow{
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
}
.slide{
	width: 100%;
}
.slide img{
	width: 100%;
}
.slidesjs-pagination{
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition: all 500ms ease;
	background: #3f51b5;
	list-style: none;
	overflow: hidden;
}
.slidesjs-pagination li{
	top: 0;
	float: left;
}
.slidesjs-pagination li a{
	display: block;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition: all 500ms ease;
}
.slidesjs-pagination li a:hover{
	background: #639d17;
}
.slide .active{
	background: #639d17;
}
.slidesjs-navigation{
	background: #3f51b5;
	color: white;
	text-decoration: none;
	display: inline-block;
	padding: 11.2px 20px;
	float: right;
}
h1.subbanner{
	font-size: 100%;
	z-index: 1000;
	background: rgba(0,0,0,0.5);
	position: absolute;
	bottom: 0;
	float: right;
	width: 100%;
	height: 20%;
	color: white;
	text-align: center;
	margin: 0 auto;
	padding: 20px auto;
	padding-top: 10px;
}
